nav {
  display: flex;
  background-color: brown;
  flex-direction: column;
  width: 18vw;
  overflow: auto;
  position: fixed;
  right: 0;
  /* z-index: 1; */
  padding-top: 16;
  top: 0;
}

nav a {
  background-color: aqua;
  color: blue;
  padding: 1px;
  margin: 1em;
  transition: background-color 2s;
}

nav :hover {
  background-color: rgb(15, 16, 14);
}
header,
main {
  background-color: blanchedalmond;
  overflow: auto;
  width: 80vw;
}
.second {
  background-color: black;
  color: aliceblue;
}
